
parameters:
    level: max

    paths:
        - src

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - src/DoctrineDBALSessionHandler.php
        - src/DoctrineSessionHandler.php
        - src/IlluminateSessionHandler.php
        - src/InfluxDbSessionHandler.php
        - src/PhpCacheSessionHandler.php
        - src/PhpFastCacheSessionHandler.php
